body {
    font-family: arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4;
    text-align: center; 
}
header {
    background: linear-gradient(45deg, blue, red, orange, green, purple );
    background-size: 140% 140%;
    animation: color 10s ease infinite;
    color: white;
    padding: 15px 0px; 
    font-size: 24px;
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
     100% {
        background-position: 0% 50%;
    }

}
nav {
    background: #007bff;
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
#links-menu {
    display: flex;
    gap: 35px; 
}
nav a { 
    color: white;
    text-decoration: none; 
    padding: 10px 15px; 
    font-size: 18px;
    background: #0056b3;
    border-radius: 5px;
    cursor: pointer;
}
nav a:hover{
    background: white;
    color: black;
}
img {
    width: 120px;
    height: auto;
    margin-right: 20px; 
    border-radius: 60px; 
    box-shadow: 3px 3px;
    border: solid black 1px;
}
.container {
    width: 80%; 
    background: #eeeeee;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px; 
    text-align: justify;
}
h2 {
    text-align: center;
}
.cont {
    width: 80%; 
    background: #eeeeee;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px; 
    text-align: center;
}
table {
    margin: 0 auto;
    width: 100%;
    border: solid black 2px;
}
table, td, th {
    border-collapse: collapse;
}
th {
    padding: 10px;
    text-align: center;
}
.td3 {
    padding: 10px;
    text-align: justify;
}
table {
background: white;
}
.sublinhado {
    text-decoration: underline;
}
.td1 {
    text-align: center;
}
.td2{
    text-align: center;
}
h3{
    text-align: center;
}