body {
    font-family: arial, sans-serif;
    margin: 0; /*espaçamento externo da pagina*/
    padding: 0; /*espaçamento externo*/
    background-color: #f4f4f4;
    text-align: center; /*texto centralizado*/
}
header {
    background-color: #28a745;
    color: white;
    padding: 15px 0px; /*15px expaçamento interno acima e abaixo e 0px direita e esquerda*/
    font-size: 24px;
}
nav {
    background: #007bff;
    padding: 10px; /*espaçamento interno do menu*/
    display: flex; /*flex boxing*/
    justify-content: space-between; /*espaço entre os elementos do menu*/
    align-items: center; /*alinhamento na vertical*/
}
#links-menu {
    display: flex;
    gap: 35px; /*distancia entre os itens do menu*/
}
nav a { /*configura os links do menu*/
    color: white;
    text-decoration: none; /*não decora os itens*/
    padding: 10px 15px; 
    font-size: 18px;
    background: #0056b3;
    border-radius: 5px; /*cantos arredondados*/
}
img {
    width: 120px;
    height: auto;
    margin-right: 20px; /*espaçamento externo a direita*/
    border-radius: 20px; 
}
.container {
    width: 80%; /*largura de 80% da largura da pagina*/
    background: white;
    border-radius: 10px;
    /*espaçamento externo de 20px acima e abaixo*/
    /*espaçamento externo auto a direita e a esquerda*/
    margin: 20px auto;
    padding: 20px; /*expaçamento interno*/
    text-align: justify;
}
h2 {
    text-align: center;
}
ol li {
    padding-bottom: 10px;
}
table tr td {
    padding: 20px;
}
table {
    margin: 0 auto; /*centraliza a tabela na pagina*/
}
.laranja {
    background-color: orange;
}
.preta{
    background-color: black;
    color: white;
}
.roxa {
    background-color: purple;
}
.verde {
    background-color: green;
}
.vermelha {
    background-color: red;
}
.azul {
    background-color: navy;
    color: white;
}
.campos {
    margin-bottom: 10px;
}
